
.all-tags {
    list-style-type: none;
    padding: 0px;
    float: right;
    margin-top: 200px
}

.all-tags > li {
    padding: 4px;
    margin-right: 20px;
}

.canvas-div {
    display: flex;
    justify-content: space-evenly;
}
#container {
    display: block !important;
}

#container main article p code {
    color: #f8f8f2;
    background-color: #272822;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#show-comments {
    background-color: inherit;
    border: 2px solid #cecece;
    margin: 4px;
    float: right;
    font-size: 16px;
    transition: 0.2s;
    font-family: inherit;
}

#show-comments:hover {
    background-color: black !important;
    color: white;
    border-color: black !important;
}

@media only screen and (max-width: 700px) {
    .all-tags {
        display: none !important;
    }
}
